<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>配置要求</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1.若要使用“开始疗疗”功能，需要配备哪些东西？</string>
			<key>Answer</key>
			<string>答：iPhone4s之后苹果手机、“疗疗失眠”主机、耳夹电极线、毛毡垫圈、生理盐水或纯净水。其中iPhone要求操作系统为iOS6.0及以上，具有蓝牙4.0功能，表现为能通过手机的蓝牙功能扫描搜索到名为NZJ-iHappySleep或Sleep4U的设备。</string>
		</dict>
	</array>
	<key>临床使用</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1.我是失眠患者，应该何时使用“疗疗失眠”？</string>
			<key>Answer</key>
			<string>答：治疗的前2周建议每天使用2次，2周后每天使用1次，四周后每两天使用一次或遵医嘱，逐步减少使用次数直至完全改善病稳定。每次治疗之后如果觉得头脑比较清醒放松 、注意力集中，则睡前3小时内不能使用，但如果用过之后有昏昏欲睡的感觉并能入睡，则可以在临睡前使用。每天的使用时间建议为早上一次，下午一次，中间间隔3小时以上。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2.我使用多大的强度合适？</string>
			<key>Answer</key>
			<string>答：初次使用时，从1档逐步增大，直到耳部有微弱针刺感（跳动的感觉）即可，强度不宜过大，否则可能会引起头痛、眩晕、恶心等不良反应，因个人感觉而异。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3.刺激模式如何选择？</string>
			<key>Answer</key>
			<string>答：常用的模式为“模式一”，一般能够发挥较好的作用，在使用“模式一”两周症状没有改善后，可将刺激模式调为“模式二”继续治疗。使用“模式一”或“模式二”几天/几周后，若即使增加刺激强度也不能在耳部感受到微弱针刺感，则可以使用一次“模式三”治疗后再使用原来的模式继续治疗。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4.是不是高强度、频繁地使用“疗疗失眠”更容易治疗失眠？</string>
			<key>Answer</key>
			<string>答：不是的，刺激强度以耳部微弱针刺感（或跳动感）为宜，切勿太过强烈。此外，通过增加每天的使用次数，并不能加快对失眠症状的治疗，需要使用者按照疗程耐心的进行治疗，治愈失眠症状是一个长期的过程，切不可操之过急。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5.使用过程中出现头痛/眩晕/恶心等不良反应怎么办？</string>
			<key>Answer</key>
			<string>答：首先不要惊慌，出现该症状是由于刺激强度或刺激频率过大引起的，应立即减小刺激强度或刺激频率，症状未消除时停止使用并及时向医生咨询。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6.我服用药物能够入睡，可以使用“疗疗失眠”吗？</string>
			<key>Answer</key>
			<string>答：可以。服用药物容易对人体产生副作用，建议少用为宜，“疗疗失眠”是安全有效的物理疗法，不会对人体造成负面影响。但需要注意，若服用药物能够入睡，早期使用“疗疗失眠”时不能直接停药，可以使用1/2的药量并配合“疗疗失眠”同时使用，直至睡眠状况稳定一周后，再酌情减少药量最终摆脱药物，只有当症状稳定后才能减药，切不可操之过急。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>7.哪些人群不能使用“疗疗失眠”？</string>
			<key>Answer</key>
			<string>答：（1）孕妇禁用；
       （2）癫痫病患者或有家族癫痫病遗传史者；
       （3）体内植入电子设备如心脏起搏器或胰岛素泵的患者；	
       （4）近期脑出血性卒中病人或者脑部有外伤和病变的患者；</string>
		</dict>
	</array>
	<key>软件操作</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1.如何调节刺激强度？</string>
			<key>Answer</key>
			<string>答：连接好“疗疗失眠”后，点击刺激强度条的左侧按钮来减小电流，点击刺激强度条的右侧按钮来增大电流。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2.如何选择刺激模式？</string>
			<key>Answer</key>
			<string>答：点击模式选择那一栏，在弹出的对话框中选择对应模式即可。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3.刺激模式设置好后，如何开始/停止治疗？</string>
			<key>Answer</key>
			<string>答：点击计时圈中的开始即可开始治疗，开始治疗后计时圈内显示为停止，点击停止后即可停止治疗。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4.每次使用时都需要选择刺激模式吗？</string>
			<key>Answer</key>
			<string>答：不需要，除首次使用时需要选择外，其余都可以按照前一次的刺激模式开始治疗。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5.使用一个账号登录过之后，如何使用其他账号登录？</string>
			<key>Answer</key>
			<string>答：成功登录软件后，主界面上点击“个人中心”→“我的资料”→“退出登录”，即可返回登录界面，但此时之前登录的账号信息将不再被记录。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6.使用该软件时必须连接“疗疗失眠”吗？</string>
			<key>Answer</key>
			<string>答：不是必须的，除“开始疗疗”功能必须连接“疗疗失眠”外，其余功能可以直接使用。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>7.登录密码忘记了怎么办？</string>
			<key>Answer</key>
			<string>答：连接网络时，在登录界面下输入用户账号，有一个“忘记密码？”的按钮，点击进入手机号码验证界面，点击“验证”将获取到的验证码正确填入，点击“下一步”进入密码重置界面重新设置登录密码，或者拨打全国免费服务热线4006800270。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>8.什么时候需要连接网络使用设备？</string>
			<key>Answer</key>
			<string>答：在新用户注册、密码找回、账号首次登录、修改个人信息、数据同步时，必须在连接网络的情况下操作，其余功能下不做要求，但建议用户在有wifi网络的情况下使用，以更好的保证数据更新。</string>
		</dict>
	</array>
	<key>常见问题</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1.为什么我不能调节刺激强度？</string>
			<key>Answer</key>
			<string>答：
	（1）没有连接“疗疗失眠”（疗疗失眠主机），请先通过蓝牙绑定“疗疗失眠”，若没有“疗疗失眠”，请联系本公司购买。
	（2）所使用的iPhone不支持蓝牙4.0功能（手机的蓝牙功搜索不到名为NZJ-iHappySleep或Sleep4U的设备），请更换支持蓝牙4.0功能的手机连接“疗疗失眠”。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2.为什么我点击计时圈内的开始，计时数值闪烁且无变化？</string>
			<key>Answer</key>
			<string>答：连接好“疗疗失眠”并设置刺激模式后点击开始，出现计时数值不变是由于电极线未接好所致，请确认是否已使用生理盐水湿润耳夹上的毛毡、检查耳夹与人体耳垂部位的贴合、检查耳夹电极插头与“疗疗失眠”的连接。</string>
		</dict>
	</array>
	<key>相关耗材</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1.毛毡多长时间更换一次，用完了怎么办？</string>
			<key>Answer</key>
			<string>答：一般在使用3~5次后需要更换，用完后可以向代理商或本公司直接购买。</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2.生理盐水如何购买？</string>
			<key>Answer</key>
			<string>答：用户可自行购买0.9%的生理盐水用于湿润毛毡，条件不允许时也可使用纯净水代替。</string>
		</dict>
	</array>
</dict>
</plist>
