<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>提早上床睡觉时间，理想时间为21:00~23:00。</string>
	<string>在床上尽量不要玩手机或做其他影响大脑休息的事情。</string>
	<string>每天尽可能的保证7~8小时的睡眠时间。</string>
	<string>聆听平淡而有节律的声响，如催眠音乐等帮助睡眠。</string>
	<string>睡前可散步或做一些运动（但不要过于剧烈），出汗后洗个热水澡或泡个热水脚舒缓神经肌肉，将有助于增加睡眠质量。</string>
	<string>保持平常而自然的心态，出现失眠不必过分担心，越是紧张，越是强行入睡，结果适得其反。</string>
	<string>先睡心、再睡眠，睡前不过度用脑，上床后排除一切杂念，不要把学习、工作或生活的压力带到睡眠中。</string>
	<string>保持合适的睡姿，睡姿因人而异，以舒适为宜，但仰卧睡眠，人体肌肉不易放松，且手易搭胸，多生噩梦；俯卧睡眠压迫胸部，影响呼吸心跳。右侧卧位最为科学，心脏不受压迫，呼吸通畅，还有利于胃的排空。</string>
	<string>睡前饮一小杯加糖的热牛奶，据研究表明，能增加人体胰岛素的分泌，增加氨酸进入脑细胞，促使人脑分泌睡眠的血清素，同时牛奶中含有微量吗啡样式物质，具有镇定安神作用，从而促使人体安稳入睡。</string>
	<string>寻找并消除失眠的原因，稍加注意，不难发现，原因消除，失眠自愈，对因疾病引起的失眠症状，应及时就医。</string>
	<string>睡前勿猛吃猛喝。在睡觉前大约两个小时吃少量的晚餐，不要喝太多的水，因为晚上不断上厕所会影响睡眠质量；晚上不要吃辛辣的富含油脂的食物，因为这些食物也会影响睡眠。</string>
	<string>坚持有规律的作息时间，在周末不要睡得太晚。</string>
	<string>保持室温稍凉，卧室温度稍低有助于睡眠。</string>
	<string>尽量不要依赖安眠药，在服用安眠药之前一定要咨询医生，建议服用安眠药不要超过4周。</string>
	<string>舒适的床，一张舒适的床给你提供一个良好的睡眠空间。</string>
	<string>克服打鼾让别人让自己睡个好觉。打鼾是阻塞性睡眠性呼吸暂停的症状之一，它是一种睡眠障碍，会降低睡眠品质，打鼾还有可能是患有高血压和心血管疾病的警讯，情况严重者应及时就医。</string>
	<string>夜间睡眠时减少声、光刺激，建议保持安静，关灯睡觉。</string>
	<string>在气温较低的情况下注意适当保暖。</string>
	<string>情绪要平稳，忌忧虑恼怒，要做到恬淡虚静，心神安定，睡前不要看惊险侦探之类的书籍、电影、电视。</string>
	<string>睡中不蒙头。蒙头掩面，呼吸困难，容易吸入自己呼出的大量二氧化碳及身体蒸发出的有害物质，不利于身体健康。</string>
	<string>分析查找造成疼痛困扰的原因，对因疾病引起的疼痛不适，应及时就医。</string>
	<string>大睡要放在晚间。白天打盹可能会导致夜晚睡眠时间被“剥夺”，白天的睡眠时间严格控制在1个小时以内，且不能在下午三点后还睡觉。</string>
	<string>选择锻炼时间，下午锻炼是帮助睡眠的最佳时间，而有规律的身体锻炼能提高夜间睡眠的质量。</string>
</array>
</plist>
